In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
X=pd.read_csv('train.csv')

In [3]:
X.head()

,ID,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Label
0,0,37,Travel_Rarely,Research & Development,1,4,Life Sciences,77,1,Male,...,80,1,7,2,4,7,5,0,7,0
1,1,54,Travel_Frequently,Research & Development,1,4,Life Sciences,1245,4,Female,...,80,1,33,2,1,5,4,1,4,0
2,2,34,Travel_Frequently,Research & Development,7,3,Life Sciences,147,1,Male,...,80,0,9,3,3,9,7,0,6,1
3,3,39,Travel_Rarely,Research & Development,1,1,Life Sciences,1026,4,Female,...,80,1,21,3,3,21,6,11,8,0
4,4,28,Travel_Frequently,Research & Development,1,3,Medical,1111,1,Male,...,80,2,1,2,3,1,0,0,0,1

In [4]:
X.columns

Index(['ID', 'Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Label'],
      dtype='object')

In [5]:
X[['Education','Label']].groupby('Education').mean().sort_values(by='Label',ignore_index=True,ascending=False)

      Label
0  0.214286
1  0.167053
2  0.156146
3  0.145631
4  0.055556

In [21]:
X[['EducationField','Label']].groupby('EducationField',as_index=False).mean().sort_values(by='Label',ignore_index=False,ascending=False,)

     EducationField     Label
0   Human Resources  0.315789
5  Technical Degree  0.239130
2         Marketing  0.212598
1     Life Sciences  0.151515
3           Medical  0.136499
4             Other  0.111111

In [22]:
X[['EducationField','Label']].groupby('EducationField',as_index=False).mean().sort_values(by='Label',ignore_index=True,ascending=False,)

     EducationField     Label
0   Human Resources  0.315789
1  Technical Degree  0.239130
2         Marketing  0.212598
3     Life Sciences  0.151515
4           Medical  0.136499
5             Other  0.111111

In [17]:
def showLabel(feat):
    return X[[feat,'Label']].groupby(feat,as_index=False).mean().sort_values(by='Label',ignore_index=True,ascending=False)

In [18]:
showLabel('Education')

   Education     Label
0          1  0.214286
1          3  0.167053
2          4  0.156146
3          2  0.145631
4          5  0.055556

     EducationField     Label
0   Human Resources  0.315789
5  Technical Degree  0.239130
2         Marketing  0.212598
1     Life Sciences  0.151515
3           Medical  0.136499
4             Other  0.111111